# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=kapiarso
COLLECTION_NAME=kapiarso

# Server Configuration
SERVER_PORT=5000

# Rate Limiting
MAX_URLS_PER_SUBNET=10
COOLDOWN_HOURS=24

# URL Expiry
EXPIRY_DAYS=365
